#main {
    width: 100%;
    height: 100vh;
    max-height: 100%;
    margin: 0;
    padding: 0;
    background-image: url('../public/image/paper.jpeg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
  }

  #frame {
    display: none;    
  }

  #page {
    width: 90%;

    p {
      font-size: 20px;
    }
  }

@media screen and (min-width: 600px) {
  #main {
    background-image: none;
  }
  #frame {
    display: block;    
  }
 
}

@media screen and (min-width: 1068px) {}

@media screen and (min-width: 880px) {}
